Bonus_UptimeMonitor_AnushkaSaratkar.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b424506c-279d-49ea-8047-688a49981037",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://todomvc.com/examples/react/dist/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "99028bc1-2746-4b5c-a734-6715a2e66b4e",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f477cd1c-3f0a-413c-a315-274018c56a82",
              "leftValue": "={{ $json.data }}",
              "rightValue": 200,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "333ec5e2-dc57-4fc0-b035-6712d14f44db",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "b2703077-2e9e-4c43-9030-eb21331e3442",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "fromEmail": "asaratkar03@gmail.com",
        "toEmail": "asaratkar03@gmail.com",
        "subject": "ALERT: TodoMVC Website is DOWN!",
        "html": "=<h2>🚨 Website Down Alert!</h2>\n<p>The website <b>TodoMVC React App</b> is not responding.</p>\n<p><b>URL:</b> https://todomvc.com/examples/react/dist/</p>\n<p><b>Time:</b> {{$now}}</p>\n<p>Please investigate immediately!</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        96
      ],
      "id": "04edfb17-5daf-4ab0-9fb5-ff33d1ce20d6",
      "name": "Send an Email",
      "webhookId": "00191f23-e2a3-4e76-aea6-1315b0bc8d68",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "po9AaXrCxhmt5xje",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6401a29c-e668-47f0-bff4-17897c30167a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77950de2fd7ff1e47188fe7a1a1c10de3e91f41c9d21b35c95e4f16c6563eacf"
  },
  "id": "VcSN67lfxmdAfPiw",
  "tags": []
}