Task2_Workflow_[Anushka Saratkar].json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a8033a40-951a-4d6a-a3af-edccf6aed407",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://hacker-news.firebaseio.com/v0/topstories.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "cb2de22c-cf64-43e0-ac99-db386255e196",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst ids = items.map(item => item.json);\nconst top5 = ids.slice(0, 5);\n\nreturn top5.map(id => ({ json: { id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7279be0b-23b1-42cb-ab3f-32c090cda7fe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://hacker-news.firebaseio.com/v0/item/{{$json.id}}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "8cc81c89-82ea-40b7-94eb-cb48f630c443",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7579a0f-3912-4578-a267-5ec174f43dbd",
              "leftValue": "={{ $json.score }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "f693663e-0481-4c44-9544-6ba9e30a96e0",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "asaratkar03@gmail.com",
        "toEmail": "asaratkar03@gmail.com",
        "subject": "HackerNews Morning Brief - Trending Story!",
        "html": "=<h2>🔥 Trending on HackerNews!</h2>\n<p><b>Title:</b> {{$json.title}}</p>\n<p><b>Score:</b> {{$json.score}}</p>\n<p><b>Posted by:</b> {{$json.by}}</p>\n<p><b>Comments:</b> {{$json.descendants}}</p>\n<p><a href=\"https://news.ycombinator.com/item?id={{$json.id}}\">Read Full Story</a></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        -96
      ],
      "id": "7ad38911-6f75-4726-94fd-8468a9a1b879",
      "name": "Send an Email",
      "webhookId": "4bc47a04-731a-464d-93a3-add937d66ddc",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "po9AaXrCxhmt5xje",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0c9aeaa4-a04a-43e4-9928-3e222dbac7b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77950de2fd7ff1e47188fe7a1a1c10de3e91f41c9d21b35c95e4f16c6563eacf"
  },
  "id": "qg8fWYOzuXbhi5Ka",
  "tags": []
}